.our-pricing * {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.our-pricing {
  padding: 30px;
}

.our-pricing .mini-title {
  color: #00a1ff;
  width: fit-content;
  margin: 0 auto;
  font-weight: bold;
  font-size: 14px;
}

.our-pricing .title {
  font-weight: bold;
  width: 340px;
  text-align: center;
  margin: 10px auto 0;
}
.our-pricing .cards {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  margin-top: 25px;
}
.our-pricing .card {
  width: 19%;
  height: fit-content;
  padding: 15px;
  background-color: #ddd;
  border-radius: 10px;
}
.our-pricing .card.pro {
  background-color: #00a2ffd2;
}
@media (max-width: 992px) {
  .our-pricing .cards {
    gap: 10px;
  }
  .our-pricing .card {
    width: 100%;
  }
}
.our-pricing .cardTitle {
  font-weight: bold;
  color: #555;
  font-size: 19px;
}
.our-pricing .cardPrice {
  font-size: 40px;
}
.our-pricing .cardText {
  font-weight: bold;
  color: #555;
  font-size: 14px;
}
.our-pricing .card.pro .cardTitle ,
.our-pricing .card.pro .av span ,
.our-pricing .card.pro .cardText {
  color: #eee;
}
.our-pricing .card.pro .cardPrice {
  color: #fff;
}
.our-pricing .avantages {
  margin: 10px 0;
}
.our-pricing .av {
  font-weight: 500;
}
.our-pricing .pro .av {
  color: white;
}
.our-pricing .av span {
  color: #555;
}
.our-pricing .card button {
  background-color: #35353595;
  width: 60%;
  margin: 0 auto;
  display: block;
  border: 0;
  padding: 7px;
  border-radius: 7px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
.our-pricing .pro button {
  background-color: #fff;
  color: #000;
}
